<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <h2>Hello, Everyone</h2>
    <h2 class="personal-info">My name is Vikas Kumar and you can find the source code of this application using the link below</h2>
    <p><a class="about-link" href="https://github.com/Vikaskumar75/weather-app" target="_blank">Source Code</a></p>
    <p><a class="about-link" href="https://github.com/Vikaskumar75" target="_blank">My Profile</a></p>
    <img class="portrait" src="/img/me.png" />
    </div>
    {{>footer}}
  </body>
</html>
