<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <h2>Hello, Everyone</h2>
    <h2 class="personal-info">My name is Vikas Kumar, I am a software engineer at GeekyAnts.</h2>
    <h2 class="personal-info">If you want to reach out to me click the below link.</h2>
    <p><a class="about-link" href="https://www.linkedin.com/in/vikas-kumar-6564a7185/" target="_blank">LinkedIn</a></p>
    <p><a class="about-link" href="https://github.com/Vikaskumar75" target="_blank">My Profile</a></p>
    <img class="portrait" src="/img/me.png" />
    </div>
    {{>footer}}
  </body>
</html>
