<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <ul>
      <li>You can get the source code from below link.</li>
      <p><a class="about-link" href="https://github.com/Vikaskumar75/weather-app" target="_blank">Source Code</a></p>
      <li>Please look at my other projects using the link below.</li>
      <p><a class="about-link" href="https://github.com/Vikaskumar75" target="_blank">Github Profile</a></p>
      <li>If you want to connect with me here is my email.</li>
      <p><a class="about-link" href="mailto:mr.rajput7547@gmail.com" target="_blank">Email</a></p>
    </ul>
    </div>
    {{>footer}}
  </body>
</html>